@page "/"
@attribute [Authorize]
<PageTitle>Estadísticas</PageTitle>


<MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column gap-y-13 flex-basics-100">
    <h1>Estadísticas</h1>
    @* Si las estadísticas son null es porque no han sido obtenidas *@

    <div class="d-flex justify-space-evenly flex-basics-70">
            <MudPaper Elevation="25" Width="45%" Class="pa-4">
                <div class="d-flex flex-column gap-3 skeleton--contenedor">
                    @if (estadisticas is null) {
                        <MudSkeleton Width="50%" Height="2rem" Class="flex-shrink-0" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="80%" Width="100%" />

                        <div class="d-flex skeleton__labels--contenedor">
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                        </div>
                    } else {
                        <MudText>Pacientes/médicos totales</MudText>
                    <div>
                        <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options" />
                        <MudGrid>
                            <MudItem xs="6">
                                <MudText Typo="Typo.body1" Class="py-3">Selected: @(Index < 0 ? "None" : Series[Index].Name)</MudText>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudSlider @bind-Value="Options.LineStrokeWidth" Min="1" Max="10" Color="Color.Info">Line Width: @Options.LineStrokeWidth.ToString()</MudSlider>
                                </MudItem>
                            </MudGrid>
                        </div>

                    }
                </div>
            </MudPaper>
            <MudPaper Elevation="25" Width="45%" Class="pa-4">
                <div class="d-flex flex-column gap-7 skeleton--contenedor">
                    @if (estadisticas is null) {
                        <MudSkeleton Width="50%" Height="2rem" Class="flex-shrink-0" />
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Height="80%" Width="75%" Class="align-self-center" />

                        <div class="d-flex skeleton__labels--contenedor">
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                            <div class="d-flex gap-1 align-center flex-grow-1">
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Height=".75rem" Width=".75rem" Class="flex-shrink-0" />
                                <MudSkeleton Class="flex-grow-1" />
                            </div>
                        </div>
                    } else {
                
                    }
                </div>
        </MudPaper>
    </div>
</MudContainer>

@code {
    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.
    public ChartOptions Options = new ChartOptions();

    public List<ChartSeries> Series = new List<ChartSeries>()
        {
                new ChartSeries() { Name = "Fossil", Data = new double[] { 79, 72, 69, 62, 62, 55, 65, 70 } },
                new ChartSeries() { Name = "Renewable", Data = new double[] { 10, 41, 35, 51, 49, 62, 69, 91, 148 } },
                };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };
 }




