@using WebMedicina.FrontEnd.ServiceDependencies;
@using WebMedicina.Shared.Service;
@attribute [Authorize(Roles = "superAdmin, admin")]


@page "/crearUsuario"
<PageTitle>Alta Médico</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-grow-1 align-center my-10">
    <MudPaper Elevation="3" Class="rounded-lg pa-7 flex-1">
        <h1 class="mb-5">Alta Nuevo Usuario</h1>
        <EditForm Model="@userRegistro" OnValidSubmit="Crear" Class="flex-grow-1">
            <DataAnnotationsValidator />
                 
            <MudTextField Class="mb-3" @bind-Value="userRegistro.Nombre" For="@(() => userRegistro.Nombre)" OnlyValidateIfDirty="true" Clearable="true" Label="Nombre*" Variant="Variant.Text" OnBlur="ValidarUserName"/>
            <MudTextField Class="mb-3" @bind-Value="userRegistro.Apellidos" For="@(() => userRegistro.Apellidos)" OnlyValidateIfDirty="true" Label="Apellidos*" Clearable="true" Variant="Variant.Text" OnBlur="ValidarUserName" />
            <MudTextField Class="mb-3" @bind-Value="@userRegistro.UserLogin" For="@(() => userRegistro.UserLogin)" HelperText="El nombre es generado automáticamente al rellanar 'Nombre' y 'Apellidos'" Label="Nombre de inicio de sesión*" Variant="Variant.Text" ReadOnly="true"/>

            <Picker pickerName="fechaNac" clases="mb-3" label="Fecha de Nacimiento*" Fecha="userRegistro.FechaNac" variante="PickerVariant.Dialog" 
                    ActualizarFecha="ActFecha" FechaMaxima="ValidacionesRegistro.ObtenerFechaMaxNacimiento()" helperText="Mayor de 18 años" autoCLose="false"/>

            <MudSelect Class="mb-3" T="string" Label="Género*" @bind-Value="userRegistro.Sexo" For="@(() => userRegistro.Sexo)" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Variant="Variant.Text">
                <MudSelectItem Value="@("H")"><div class="d-flex align-center"> <MudIcon Icon="@Icons.Material.Outlined.Man" Class="mr-2" Size="Size.Small"></MudIcon> Hombre </div></MudSelectItem>
                <MudSelectItem Value="@("M")"><div class="d-flex align-center"><MudIcon Icon="@Icons.Material.Outlined.Woman" Class="mr-2" Size="Size.Small"></MudIcon> Mujer </div></MudSelectItem>
            </MudSelect> 
        
            <MudSelect T="string" Class="mb-3"  Label="Rol*" @bind-Value="userRegistro.Rol" For="@(() => userRegistro.Rol)" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Text">
                    @if (user is not null && user.IsInRole("superAdmin")) {
                        <MudSelectItem Value="@("superAdmin")" >Super Admin</MudSelectItem>
                        <MudSelectItem Value="@("admin")">Admin</MudSelectItem>
                    } 
                <MudSelectItem Value="@("medico")">Médico</MudSelectItem>
            </MudSelect>

            <div class="d-flex align-center">
                <MudTextField @bind-Value="userRegistro.Password" For="@(() => userRegistro.Password)" Label="Contraseña*" Variant="Variant.Text" ReadOnly="true"/>
                <MudTooltip Text="La contraseña debe ser compartida con el nuevo usuario">
                    <MudIconButton Icon="@Icons.Material.Outlined.Info" />
                </MudTooltip>
            </div>


            <div Class="mt-9 mud-typography-align-center" Typo="Typo.h6">
                <MudButton ButtonType="ButtonType.Submit" Disabled="@cargando" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" >
                    @if (cargando) {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Cargando</MudText>
                    } else {
                        <MudIcon Class="mr-3" Icon="@Icons.Material.Filled.PersonAddAlt"></MudIcon>
                        <MudText>Crear</MudText>
                    }
                </MudButton>
            </div>
        </EditForm>
    </MudPaper>
</MudContainer>

@code{
}
