@page "/crearMedico"
@inject IHttpClientFactory ClienFactory
@inject NavigationManager navigationManager
@inject ILoginService loginService
@inject ExcepcionDto ExcepcionPersonalizada
@using WebMedicina.FrontEnd.ServiceDependencies;
@using WebMedicina.Shared.Service;



<h3>Registro</h3>


<EditForm Model="@userRegistro" OnValidSubmit="CrearUsuario">
    <DataAnnotationsValidator/>
    <div class="form-floating mb-3">
        <InputText @bind-Value="@userRegistro.Nombre" class="form-control" id="inputNombre" placeholder="Nombre" />
        <label for="inputNombre">Nombre</label>
        <ValidationMessage For="@(() => userRegistro.Nombre)"/>
    </div>
        <div class="form-floating mb-3">
        <InputText @bind-Value="@userRegistro.Apellidos"  class="form-control" id="inputApellido" placeholder="Apellidos" />
        <label for="inputApellido">Apellidos</label>
        <ValidationMessage For="@(() => userRegistro.Apellidos)" />
    </div>
    <div class="mb-3">
        <label for="inputFechaNac" class="form-label">Fecha de Nacimiento</label>
        <InputDate @bind-Value="@userRegistro.FechaNacimiento" class="form-control" id="inputFechaNac" max="@ValidacionesRegistro.ObtenerFechaMaxNacimiento()" />
        <ValidationMessage For="@(() => userRegistro.FechaNacimiento)" />
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="@userRegistro.NumHistoria" class="form-control" id="inputNumHistoria" placeholder="Número de Historia" />
        <label for="inputNumHistoria">Número de Historia</label>
        <ValidationMessage For="@(() => userRegistro.NumHistoria)" />
    </div>
        <label for="inputPassword" class="form-label">Contraseña</label>
    <div class="input-group mb-3">
    </div>
        <ValidationMessage For="@(() => userRegistro.Password)" />

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {
}
