@using Neuromorfismo.Shared.Dto.UserAccount;
@using Neuromorfismo.Shared.Dto.Usuarios;

@attribute [Authorize(Roles = "superAdmin")]

<PageTitle>Reestablece Contraseña</PageTitle>
@page "/passrestart"

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex flex-grow-1 align-center">
    <MudPaper Elevation="3" Class="rounded-lg pa-7 flex-1">
        <h1 class="mb-5">Restablecer Contraseña</h1>

        <MudText Align="Align.Justify" ></MudText>

        @* Filtrado por medico *@
        <EditForm Model="@restartPass" OnSubmit="ResetarPass" class="flex-grow-1" >
            <DataAnnotationsValidator />

            <MudAutocomplete T="UserUploadDto" Label="Médico" @bind-Value="restartPass.Medico" For="@(() => restartPass.Medico)" SearchFunc="@BuscarMedPac" CoerceText="true" CoerceValue="true"
                                ShowProgressIndicator="true" Clearable="true" ToStringFunc="@(q => q is null ? null : $"{q.UserLogin} - {q.Nombre} {q.Apellidos}")">
                <NoItemsTemplate>
                    <MudText Align="Align.Center" Class="px-4 py-1">
                        No se han encontrado médicos
                    </MudText>
                </NoItemsTemplate>
            </MudAutocomplete>

            <GenerarPassAleatoria @bind-Contrasena="restartPass.Password" ErrorPassText="@ErrorPassText" />

            <div class="mt-9 mud-typography-align-center">
                <MudButton ButtonType="ButtonType.Submit" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" Disabled="@Enviando" EndIcon="@(!Enviando ? Icons.Material.Filled.Send : "")" IconSize="Size.Small">
                    @if (Enviando) {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Enviando...</MudText>
                    } else {
                        <MudText>Enviar</MudText>
                    }
                </MudButton>
            </div>
        </EditForm>
    </MudPaper>
</MudContainer>