<div>
    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-5 mb-10">
        <MudPaper Elevation="25" Class="@($"rounded relative {ClaseContenedor}")" id="@IdContenedorLT">
            <MudScrollToTop Selector="@SelectorScroll" 
                OnClick="@(async () => await CerrarLineaTemporal())"
                Visible="true" 
                TopOffset="-99999" 
                VisibleCssClass="lt__scrollTop">
                <MudIconButton Icon="@Icons.Material.Outlined.Close" Color="Color.Surface"/>
            </MudScrollToTop>

            @if (LineaTemporalExpandedProp) {   
                <CascadingValue Name="ActualizarEvolucionPac" Value="">
                    <LineaTemporal EtapasLineaTemporal="EtapasLineaTemporal" Evoluciones="Evolucion" />
                </CascadingValue>
            }
        </MudPaper>
    </MudContainer>
</div>