<div>
    <MudContainer MaxWidth="MaxWidth.Large" Class="@($"rounded {ClaseContenedor} my-5")" id="@IdContenedorLT">
        <MudPaper Elevation="25">
            <div class="d-flex">
                <MudSpacer />
                <MudScrollToTop Selector="@SelectorScroll" 
                    OnClick="@(async () => await CerrarLineaTemporal())"
                    Visible="true" 
                    TopOffset="-99999" 
                    VisibleCssClass="lt__scrollTop">
                    <MudIconButton Icon="@Icons.Material.Outlined.Close" Color="Color.Surface"/>
                </MudScrollToTop>
            </div>
            <CascadingValue Name="Etapas" Value="EtapasLineaTemporal">
                <CascadingValue Name="Evolucion" Value="Evolucion">
                    <div>
                        <LineaTemporal />
                        <FormularioLT />
q                   </div>                        
                </CascadingValue>
            </CascadingValue>
        </MudPaper>
    </MudContainer>
</div>