@attribute [Authorize]
@inject EstilosBase estilosBase


<div>

<MudNavMenu id="navMenu" Class="pt-3 pt-md-5" Bordered="true" Color="Color.Warning">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store">Dashboard</MudNavLink>
    <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Store">Servers</MudNavLink>
    <MudNavGroup Title="Settings" Expanded="false">
        <MudNavLink Href="/users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Store">Users</MudNavLink>
        <MudNavLink Href="/security" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Store">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Store">About</MudNavLink>
</MudNavMenu>
</div>
@code
{

}