@attribute [Authorize]
@using System.Security.Claims

<div>
<MudNavMenu id="navMenu" Class="pt-3 pt-md-5" Bordered="true" Color="@(_isDarkMode ? Color.Primary : Color.Dark)">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store">Estadísticas</MudNavLink>
    <AuthorizeView Roles="admin, superAdmin">
        <Authorized>
            <MudNavGroup Title="Administación" Icon="@Icons.Material.Outlined.Settings" Expanded="true">
                    <MudNavLink Href="/crearUsuario" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.PersonAddAlt1">Alta Médico</MudNavLink>
                    <MudNavLink Href="/gestionUsers" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.FilterAlt">Gestión Médicos</MudNavLink>
                    <MudNavLink Href="/epilepsias" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Psychology">Epilepsias</MudNavLink>
                    <MudNavLink Href="/mutaciones" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Coronavirus">Mutaciones</MudNavLink>
                    @* <MudNavLink Href="/farmacos" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Vaccines">Fármacos</MudNavLink> *@
            </MudNavGroup> 
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="/pacientes" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Store">Pacientes</MudNavLink>
</MudNavMenu>
</div>
@code
{
    [CascadingParameter(Name = "modoOscuro")] private bool _isDarkMode { get; set; }

    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }
    private ClaimsPrincipal? user { get; set; }

    protected override async Task OnInitializedAsync() {
        if (authenticationState is not null) {
            var authState = await authenticationState;
            user =  authState?.User;

        }
    }
}