<MudDialog Class="@idDialogo" ClassActions="contenedorBotones">
    <DialogContent>
        <div>
            <EditForm @ref="form" Model="@nuevoPaciente" Class="flex-grow-1">
                <DataAnnotationsValidator />

                @* Numero de historia *@
                <NumHistoria @bind-Paciente="@nuevoPaciente" T="CrearPacienteDto" @bind-PacienteValido="PacienteValido" />

                @* Fecha Nacimiento *@
                <Picker label="Fecha de Nacimiento" @bind-Fecha="nuevoPaciente.FechaNac" FechaMaxima="ValidacionesRegistro.ObtenerFechaMaxNacimiento()" />

                @* Genero *@
                <Genero @bind-Paciente="@nuevoPaciente" IdDialogo="idDialogo" T="CrearPacienteDto" />

                @* Talla *@
                <Talla @bind-Paciente="@nuevoPaciente" T="CrearPacienteDto" />

                @* Fecha Diagnostico *@
                <Picker label="Fecha de Diagnóstico" @bind-Fecha="nuevoPaciente.FechaDiagnostico" variante="PickerVariant.Inline" />
      
                @* Fecha fractalidad *@
                <Picker label="Fecha de Fractalidad" @bind-Fecha="nuevoPaciente.FechaFractalidad" variante="PickerVariant.Inline" />

                @* Farmaco *@
                <Farmaco @bind-Paciente="@nuevoPaciente" T="CrearPacienteDto" />

                @* Tipo Epilepsia *@
                <TipoEpilepsia @bind-Paciente="@nuevoPaciente" IdDialogo="idDialogo" ListaEpilepsias="ListaEpilepsias" T="CrearPacienteDto" />

                @* Tipo Mutacion *@
                <TipoMutacion @bind-Paciente="@nuevoPaciente" IdDialogo="idDialogo" ListaMutaciones="ListaMutaciones" T="CrearPacienteDto" />

                @* Enfermedad Rara *@
                <EnfermedadRara @bind-Paciente="@nuevoPaciente" MostrarDescripcion="true" T="CrearPacienteDto" />
            </EditForm>
        </div>
    </DialogContent>
    <DialogActions>
        <div>
            <MudButton Variant="Variant.Filled" OnClick="Cancel" DisableElevation>Cancelar</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Editar" Disabled="!PacienteValido">
                @if (_creandoPaciente) {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Cargando...</MudText>
                } else {
                    <MudText>Editar</MudText>
                }
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>