@page "/pacientes"
<PageTitle>Pacientes</PageTitle>
@attribute [Authorize]


@* Tab con las subpantallas*@
<MudStack Spacing="8" Class="mt-5 gap-md-0" >
    <MudStack Spacing="0" Row="true">
        @* Boton crear pacientes *@
        <div>
            <MudButtonGroup Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OverrideStyles="false">
                <MudButton id="@((IsDarkMode ? "btnCrearPacienteDark" : "btnCrearPacienteDef"))" StartIcon="@Icons.Material.Outlined.PersonAddAlt"  @onclick="MostrarCrearPac">Crear Paciente</MudButton>
               
                <MudButton Color="Color.Success" Variant="Variant.Filled" >
                    <MudImage Src="@(UrlImagenes + "iconoExcel.png")" Alt="Icono Excel" Height="20" Class="mr-4"/> Excel
                </MudButton>
            </MudButtonGroup>
        </div>

        <MudSpacer />

        @* Boton bloquear filtros *@
        <div id="btnFiltros" modoOscuro="@IsDarkMode">
            <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" OnClick="@(() => FiltrosAbierto = !FiltrosAbierto)"/>
        </div>
    </MudStack>

    <MudTabs Elevation="2" Rounded="true" id="mudTab-Pacientes" Class="gap-4" AlwaysShowScrollButtons="false">
        <MudTabPanel Text="Todos los Pacientes" >
            <AllPacientes ListaPacientes="ListaPacientes"/>
        </MudTabPanel>
        <MudTabPanel Text="Mis Pacientes">
            <MisPacientes ListaPacientes="ListaPacientes" />
        </MudTabPanel>
    </MudTabs>
</MudStack>

@* Drawer de filtros *@
<div>
    <MudDrawer @bind-Open="@FiltrosAbierto" id="drawerFiltros" Anchor="Anchor.End" Fixed="true" Elevation="4" Variant="@DrawerVariant.Temporary" Color="Color.Default"
               Class="rounded-tl-lg" Style="@($"background: {(!IsDarkMode ? "white" : "var(--mud-palette-background)")}")">
        <EditForm Model="FiltrosPacientes" class="mx-5 d-flex flex-column flex-1" OnValidSubmit="ObtenerPacientesFiltrados" @onreset="ResetearFiltrado">
               @* Titulo *@
            <MudDrawerHeader Class="justify-center align-center pr-0">
                <MudText Typo="Typo.h6">Filtros Pacientes</MudText>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="@(() => FiltrosAbierto = !FiltrosAbierto)"></MudIconButton>
            </MudDrawerHeader>

            <div class="d-flex flex-column flex-1 justify-space-between">
                <div>
                    @* Filtrado por medico *@
                    <AuthorizeView Roles="admin, superAdmin" Context="context__FiltradoMedico">
                        <Authorized>
                            <MudAutocomplete T="string" Label="Médicos" @bind-Value="@FiltrosPacientes.Medico" For="@(() => FiltrosPacientes.Medico)" SearchFunc="@BuscarMedPac" ResetValueOnEmptyText="true" CoerceValue="true" ShowProgressIndicator="true">
                                <NoItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        No se han encontrado médicos
                                    </MudText>
                                </NoItemsTemplate>
                            </MudAutocomplete>
                        </Authorized>
                    </AuthorizeView>

                    @* Genero *@
                    <MudSelect T="string" Label="Género" AnchorOrigin="Origin.BottomCenter" @bind-Value="FiltrosPacientes.Sexo" For="@(() => FiltrosPacientes.Sexo)">
                        <MudSelectItem Value="@("H")"><div class="d-flex align-center"> <MudIcon Icon="@Icons.Material.Outlined.Man" Class="mr-2" Size="Size.Small"></MudIcon> Hombre </div></MudSelectItem>
                        <MudSelectItem Value="@("M")"><div class="d-flex align-center"><MudIcon Icon="@Icons.Material.Outlined.Woman" Class="mr-2" Size="Size.Small"></MudIcon> Mujer </div></MudSelectItem>
                    </MudSelect>

                    @* Talla  *@
                    <MudStack Class="filtro sliderTalla" Row="true" Spacing="3" AlignItems="AlignItems.End">
                        <MudSlider @bind-Value="@FiltrosPacientes.Talla" For="@(() => FiltrosPacientes.Talla)" ValueLabel="true" Max="200" Min="50">Talla: @FiltrosPacientes.Talla cm</MudSlider>
                        <MudToggleIconButton @bind-Toggled="@OrdenarTalla" Class="pa-0"
                                             Icon="@Icons.Material.Filled.ArrowUpward" Color="@Color.Default" ToggledTitle="Ordenar de menor a mayor"
                                             ToggledIcon="@Icons.Material.Filled.ArrowDownward" Title="Ordenar de mayor a menor" id="ordenarTalla" Size="Size.Small"/>
                    </MudStack>

                    @* Farmaco *@
                 @*<MudSelect T="string" Class="filtro" Label="Fármaco" AnchorOrigin="Origin.BottomCenter" @bind-Value="farmacoFiltrado" MultiSelection="true" @bind-SelectedValues="FiltrosPacientes.Farmacos">
                        @if (ListaFarmacos != null && ListaFarmacos.Any()) {

                            @* Mapeamos todos los farmacos almacenados *@
                            @*foreach(FarmacosDto farmaco in ListaFarmacos){
                                <MudSelectItem Value="@(farmaco.Nombre)">@farmaco.Nombre</MudSelectItem>
                            }
                    } *@
                    @*</MudSelect> *@

                    @* Tipo Epilepsia *@
                    <MudSelect T="string" Class="filtro" Label="Tipo Epilepsia" AnchorOrigin="Origin.BottomCenter"  @bind-Value="epilepsiaFiltrado" @bind-SelectedValues="FiltrosPacientes.TipoEpilepsias" MultiSelection="true">
                        @if (ListaEpilepsias != null && ListaEpilepsias.Any()) {

                            @* Mapeamos todos los farmacos almacenados *@
                            foreach (EpilepsiasDto epilepsia in ListaEpilepsias) {
                                <MudSelectItem Value="@(epilepsia.Nombre)">@epilepsia.Nombre</MudSelectItem>
                            }
                        } else {
                            <MudSelectItem Value="@(string.Empty)" Disabled="true">No hay opciones disponibles</MudSelectItem>
                        }
                    </MudSelect>

                    @* Tipo Mutacion *@
                    <MudSelect T="string" Class="filtro" Label="Tipo Mutación" AnchorOrigin="Origin.BottomCenter" @bind-Value="mutacionFiltrado" @bind-SelectedValues="FiltrosPacientes.TipoMutacion" MultiSelection="true">
                        @if (ListaMutaciones != null && ListaMutaciones.Any()) {

                            @* Mapeamos todos los farmacos almacenados *@
                            foreach (MutacionesDto mutacion in ListaMutaciones) {
                                <MudSelectItem Value="@(mutacion.Nombre)">@mutacion.Nombre</MudSelectItem>
                            }
                        } else {
                            <MudSelectItem Value="@(string.Empty)" Disabled="true">No hay opciones disponibles</MudSelectItem>
                        }
                    </MudSelect>

                    @* Enfermedad Rara *@
                    <MudCheckBox T="bool" Class="filtro checkEnfRara" @bind-Checked="@FiltrosPacientes.EnfermRaras" For="@(() => FiltrosPacientes.EnfermRaras)" Label="Enfermedad rara" Color="Color.Primary"></MudCheckBox>
                </div>

                @* Botones Filtrar y Resetear *@
                <div class="container__btnFiltrar">
                    <MudButton ButtonType="ButtonType.Reset" DisableElevation="true" Variant="Variant.Filled" Color="Color.Surface">Resetear</MudButton>
                    <MudButton ButtonType="ButtonType.Submit" DisableElevation="true" Variant="Variant.Filled" Color="Color.Primary">Filtrar</MudButton>
                </div>
            </div>
        </EditForm>
    </MudDrawer>
</div>