@using WebMedicina.FrontEnd.WebApp.Pages.Pacientes.LineaTemporal;

@page "/pacientes"
@attribute [Authorize]
<PageTitle>Pacientes</PageTitle>

<div>
    <CascadingValue Name="ListaMutaciones" Value="ListaMutaciones" IsFixed="true">
        <CascadingValue Name="ListaEpilepsias" Value="ListaEpilepsias" IsFixed="true">

            @* Tab con las subpantallas*@
            <MudStack Spacing="8" Class="mt-5 gap-md-0" >
                <MudStack Spacing="0" Row="true">
                    @* Boton crear pacientes *@
                    <MudStack Row="true" AlignItems="AlignItems.Center">
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" id="@((IsDarkMode ? "btnCrearPacienteDark" : "btnCrearPacienteDef"))" StartIcon="@Icons.Material.Outlined.PersonAddAlt" @onclick="MostrarCrearPac">
                            Crear Paciente
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Success" OnClick="DescargarExcel"
                                   style="@(IsDarkMode ? "background-color: rgb(0 149 17); color: #fff;" : "")">
                            <MudImage Src="@(UrlImagenes + "iconoExcel.png")" Alt="Icono Excel" Height="20" Class="mr-4" /> Excel
                        </MudButton>
                    </MudStack>

                    <MudSpacer />

                    @* Boton bloquear filtros *@
                    <div id="btnFiltros">
                        <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" OnClick="@(() => FiltrosAbierto = !FiltrosAbierto)" Size="Size.Medium"/>
                    </div>
                </MudStack>

                <MudTabs Elevation="2" Rounded="true" id="mudTab-Pacientes" Class="gap-4" AlwaysShowScrollButtons="false">
                    <AuthorizeView>
                        <Authorized>
                            <MudTabPanel Text="Todos los Pacientes" >
                                <AllPacientes PacientesFiltrados="PacientesFiltrados" @bind-ExcelPacientes="ExcelPacientes" EliminarPaciente="EliminarPacienteLista" MostrarLineaTemp="_contenedorLineaTempRef.MostrarLineaTemp" />
                            </MudTabPanel>
                        </Authorized>
                    </AuthorizeView>
                    <MudTabPanel Text="Mis Pacientes">
                        <MisPacientes PacientesFiltrados="PacientesFiltrados" @bind-ExcelPacientes="ExcelPacientes"  EliminarPaciente="EliminarPacienteLista" MostrarLineaTemp="_contenedorLineaTempRef.MostrarLineaTemp" />
                    </MudTabPanel>
                </MudTabs>
            </MudStack>

            @* Drawer de filtros *@
            <FiltrosPaciente @ref="RefFiltrosPac" @bind-FiltroAbierto="FiltrosAbierto" @bind-PacientesFiltrados="PacientesFiltrados" />
        </CascadingValue>
    </CascadingValue>


    @* Linea temporal *@
    <ContenedorLineaTemp @ref="_contenedorLineaTempRef" /> 
</div>
