<div>
    <MudDataGrid Items="@ListaPacientes" Elevation="25" SortMode="SortMode.Single" Hover="true" Breakpoint="Breakpoint.Md" Class="mt-4">
        <Columns>
            <HierarchyColumn T="PacienteDto" />
            <PropertyColumn Property="x => x.NumHistoria" Title="Número de Historia" />
            <PropertyColumn Property="x => x.FechaNac" Title="Fecha Nacimiento" Format="dd/MM/yyyy"/>
            <TemplateColumn Title="Género" SortBy="@(x => x.Sexo)">
                <CellTemplate>
                    @if (context.Item.Sexo == "M") {
                        <div class="celda-espaciada">
                            <MudIcon Icon="@Icons.Material.Outlined.Woman" Class="mr-3" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body1">Mujer</MudText>
                        </div>
                    } else if (context.Item.Sexo == "H") {
                        <div class="celda-espaciada">
                            <MudIcon Icon="@Icons.Material.Outlined.Man" Class="mr-3" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body1">Hombre</MudText>
                        </div>
                    }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Talla" SortBy="@(x => x.Talla)">
                <CellTemplate>
                        @if (context.Item.Talla > 0) {
                            <MudText Typo="Typo.body1">@context.Item.Talla cm</MudText>
                        } else {
                            <MudText Typo="Typo.body1" Class="ml-4">-</MudText>
                        }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Epilepsia" SortBy="@(x => x.NombreEpilepsia)">
                <CellTemplate>
                    @if (!string.IsNullOrEmpty(context.Item.NombreEpilepsia)) {
                        <MudText Typo="Typo.body1">@context.Item.NombreEpilepsia</MudText>
                    } else {
                        <MudText Typo="Typo.body1" Class="ml-4">-</MudText>
                    }
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Mutación" SortBy="@(x => x.NombreMutacion)">
                <CellTemplate>
                    @if (!string.IsNullOrEmpty(context.Item.NombreMutacion)) {
                        <MudText Typo="Typo.body1">@context.Item.NombreMutacion</MudText>
                    } else {
                        <MudText Typo="Typo.body1" Class="ml-4">-</MudText>
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.EnfermRaras" Title="Enfermedad Rara" />
        </Columns>
        <ChildRowContent>
            <MudCard Elevation="0" Class="cardPaciente">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Paciente : @context.Item.NumHistoria</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudDivider DividerType="DividerType.FullWidth" Class="px-2"/>

                <MudCardContent>
                   <MudGrid Spacing="3" Justify="Justify.Center" id="gridDecipcionPaciente">
                       @* Fecha Nacimiento *@
                       <MudItem xs="12" md="6" >
                            <MudText>Fecha Nacimiento: @context.Item.FechaNac.ToShortDateString()</MudText>
                       </MudItem>

                        @* Genero *@
                        <MudItem xs="12" md="6">
                            <MudText Class="d-flex flex-row align-center">Género:
                                @if (context.Item.Sexo == "M") {
                                    <MudIcon Icon="@Icons.Material.Outlined.Woman" Class="mx-3" Size="Size.Small"></MudIcon>
                                    <text>Mujer</text>
                                } else if (context.Item.Sexo == "H") {
                                    <MudIcon Icon="@Icons.Material.Outlined.Man" Class="mx-3" Size="Size.Small"></MudIcon>
                                    <text>Hombre</text>
                                }
                            </MudText>
                        </MudItem>
                    
                        @* Fecha Diagnostico *@
                        <MudItem xs="12" md="6">
                            <MudText>Fecha Diagnóstico: @context.Item.FechaDiagnostico.ToShortDateString()</MudText>
                        </MudItem>
                    
                        @* Fecha Fractalidad *@
                        <MudItem xs="12" md="6">
                            <MudText>Fecha Fractalidad: @context.Item.FechaFractalidad.ToShortDateString()</MudText>
                        </MudItem>

                        @* Talla *@
                        <MudItem xs="12" md="6">
                            <MudText>Talla: @(context.Item.Talla > 0 ? $"{context.Item.Talla} cm" : "No especificado")</MudText>
                        </MudItem>

                        @* Tipo Epilepsia *@
                        <MudItem xs="12" md="6">
                            <MudText>Tipo Epilepsia: @((!string.IsNullOrEmpty(context.Item.NombreEpilepsia) ? context.Item.NombreEpilepsia : "No especificado"))</MudText>
                        </MudItem>

                        @* Tipo Mutación *@
                        <MudItem xs="12" md="6">
                                <MudText>Tipo Mutación: @((!string.IsNullOrEmpty(context.Item.NombreMutacion) ? context.Item.NombreMutacion : "No especificado"))</MudText>
                        </MudItem>

                        @* Enfermedad Rara *@
                        <MudItem xs="12" md="6">
                            <MudText>Enfermedad Rara: @context.Item.EnfermRaras

                                @* Mostramos tooltip de info si tiene enfermedad rara *@
                                @if (!string.IsNullOrEmpty(context.Item.EnfermRaras) && context.Item.EnfermRaras == "Sí" && !string.IsNullOrEmpty(context.Item.DescripEnferRaras)) {
                                        <Tooltip Contenido="@(new MarkupString(context.Item.DescripEnferRaras))" Titulo="@(new MarkupString("Descripción Enfermedad"))" />
                                }
                            </MudText>
                        </MudItem>
                   </MudGrid>
                </MudCardContent>

                <MudDivider DividerType="DividerType.FullWidth" Class="px-2" />

                <MudCardActions Class="d-flex justify-space-between">
                    <MudText Typo="Typo.subtitle2">Creado por
                        <MudChip Variant="Variant.Text" Color="Color.Dark">@(string.IsNullOrEmpty(context.Item.MedicoCreador) ? "-" : $"{context.Item.MedicoCreador}")</MudChip>
                        el
                        <MudChip Variant="Variant.Text" Color="Color.Dark">@(context.Item.FechaCreac == DateOnly.MinValue ? "-" : $"{context.Item.FechaCreac.ToShortDateString()}")</MudChip>
                    </MudText>
                    <MudText Typo="Typo.subtitle2">
                        Modificado por última vez por
                        <MudChip Variant="Variant.Text" Color="Color.Dark">@(string.IsNullOrEmpty(context.Item.MedicoUltMod) ? "-" : $"{context.Item.MedicoUltMod}")</MudChip>
                        el
                        <MudChip Variant="Variant.Text" Color="Color.Dark">@(context.Item.FechaUltMod == DateOnly.MinValue ? "-" : $"{context.Item.FechaUltMod.ToShortDateString()}")</MudChip>
                    </MudText>
                </MudCardActions>
            </MudCard>
        </ChildRowContent>
        <PagerContent>
            <MudDataGridPager T="PacienteDto" InfoFormat="@("{first_item}-{last_item} de {all_items}")" RowsPerPageString="Filas por página:" />
        </PagerContent>
    </MudDataGrid>
</div>