@typeparam T where T : BasePaciente

<div>
    <MudSelect T="string" Class="filtro" Label="@Label" @bind-Value="Paciente.IdMutacion" For="@(() => Paciente.IdMutacion)" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" OnOpen="BloquearScroll"
               OnClose="DesbloquearScroll"  Clearable="true">
        @if (ListaMutaciones != null && ListaMutaciones.Any()) {

            @* Mapeamos todos los farmacos almacenados *@
            foreach (MutacionesDto mutacion in ListaMutaciones) {
                <MudSelectItem Value="@(mutacion.IdMutacion.ToString())">@mutacion.Nombre</MudSelectItem>
            }
        } else {
            <MudSelectItem Value="@(string.Empty)" Disabled="true">No hay opciones disponibles</MudSelectItem>
        }
        </MudSelect>
</div>